<%- include("includes/head.ejs"); %>
  <h1>Quora Posts</h1>
  <button id="add" class="btn"><a href="http://localhost:3000/posts/new">Add new One</button>
  <% for(let post of posts){ %>
    <div class="box">
      <p><a href="http://localhost:3000/posts/<%= post.id %>"><%= post.username %></a></p>
      <div class="alignR">
        <span><a href="http://localhost:3000/posts/<%= post.id %>/edit">edit</a></span>
        <span> &nbsp; | &nbsp;</span>
        <span>
          <form method="post" action="/posts/<%= post.id %>?_method=DELETE" class="inline">
            <button id="dele">delete</button>
          </form>
        </span>
      </div>
      <p class="post"> <%= post.content %></p>
    </div>
  <% } %>
</body>
</html>